body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F6AE2D;
}


/* Navbar at the top */
nav {
    background-color: #2F4858;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px; /* Rounded corners */
    border: 2px solid black; /* Optional: adds a border */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease; /* Adds smooth transitions */
}

button a {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: #f0f0f0; /* Changes the background color slightly on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Makes the shadow more intense on hover */
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    white-space: nowrap;
}
